@{
    ViewData["Title"] = "EditUser";
}
<div style="margin-top:50px"> </div>

<style>
    .ddiv {
        height: 1100px;
        width: 1000px;
       background-color: #74EBD5;
        background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

        background-repeat: repeat-y;
        background-size: 100%;
        font-size: 20px;
        box-shadow: 8px 10px 10px 1px #000;
        border-radius: 30px;
    }

    .ddiv2 {
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
        background-repeat: repeat-y;
        background-size: 100%;
    }

    .ppfont {
        font-size: 30px;
        
    }

    .pdd {
        padding: 1%;

    }

    .wide {
        color: black;
        width: 600px;
        opacity: 0.5;
    }

    .wide1 {
        color: black;
        width: 600px;
        height: 500px;
        opacity: 0.5;
        overflow: scroll;
        text-align: left;
    }
    .btt-text-box {
        border: 3px solid black;
      cursor: pointer;
            width: 270px;
            padding: 15px;
            background-color: transparent;
     
            border-radius: 30px;
            font-size: 20px;
            margin: 5px;
        }


    .btt-text-box-1 {
        border: 3px solid black;
        cursor: pointer;
            width: 270px;
            padding: 15px;
            background-color: transparent;
            border-radius: 30px;
            font-size: 20px;
            margin: 5px;
        }

    /*.btt-text-box-1:hover {
            background-color: red;
            color: white;
        }*/


    /* Green */
    .success {
      border-color: #04AA6D;
      color: green;
    }

    .success:hover {
      background-color: #04AA6D;
      color: white;
    }

    /* Blue */
    .info {
      border-color: #2196F3;
      color: dodgerblue
    }

    .info:hover {
      background: #2196F3;
      color: white;
    }

    /* Orange */
    .warning {
      border-color: #ff9800;
      color: orange;
    }

    .warning:hover {
      background: #ff9800;
      color: white;
    }

    /* Red */
    .danger {
      border-color: #f44336;
      color: red
    }

    .danger:hover {
      background: #f44336;
      color: white;
    }

    /* Gray */
    .default {
      border-color: #e7e7e7;
      color: black;
    }

    .default:hover {
      background: #e7e7e7;
    }


    .login-wrap{

	    width:100%;
	    margin:auto;
	    max-width:525px;
	    min-height:700px;
	    position:relative;
	    background:url(https://raw.githubusercontent.com/BrillChatkul/SoftStudioProject/PluemBranch2/PIC/Arun%20Temple.png) no-repeat center  ;
	    position: relative;
	    background-size: auto, cover;
	    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	    border-radius:30px;
    }
    .login-html{
	    width:100%;
	    height:100%;
	    position:absolute;
	    padding:90px 70px 50px 70px;
	    background:rgba(40,57,101,.9);
	    border-radius:30px;
    }
    .login-html .sign-in-htm,
    .login-html .sign-up-htm{
	    top:0;
	    left:0;
	    right:0;
	    bottom:0;
	    position:absolute;
	    transform:rotateY(180deg);
	    backface-visibility:hidden;
	    transition:all .4s linear;
    }
    .login-html .sign-in,
    .login-html .sign-up,
    .login-form .group .check{
	    display:none;
    }
    .login-html .tab,
    .login-form .group .label,
    .login-form .group .button{
	    text-transform:uppercase;
    }
    .login-html .tab{
	    font-size:22px;
	    margin-right:15px;
	    padding-bottom:5px;
	    margin:0 15px 10px 0;
	    display:inline-block;
	    border-bottom:2px solid transparent;
    }
    .login-html .sign-in:checked + .tab,
    .login-html .sign-up:checked + .tab{
	    color:#fff;
	    border-color:#1161ee;
    }
    .login-form{
	    min-height:345px;
	    position:relative;
	    perspective:1000px;
	    transform-style:preserve-3d;
    }
    .login-form .group{
	    margin-bottom:15px;
    }
    .login-form .group .label,
    .login-form .group .input,
    .login-form .group .button{
	    width:100%;
	    color:#fff;
	    display:block;
    }
    .login-form .group .input,
    .login-form .group .button{
	    border:none;
	    padding:15px 20px;
	    border-radius:25px;
	    background:rgba(255,255,255,.1);
    }
    .login-form .group input[data-type="password"]{
	    text-security:circle;
	    -webkit-text-security:circle;
    }
    .login-form .group .label{
	    color:#aaa;
	    font-size:12px;
    }
    .login-form .group .button{
	    background:#1161ee;
    }
    .login-form .group label .icon{
	    width:15px;
	    height:15px;
	    border-radius:2px;
	    position:relative;
	    display:inline-block;
	    background:rgba(255,255,255,.1);
    }
    .login-form .group label .icon:before,
    .login-form .group label .icon:after{
	    content:'';
	    width:10px;
	    height:2px;
	    background:#fff;
	    position:absolute;
	    transition:all .2s ease-in-out 0s;
    }
    .login-form .group label .icon:before{
	    left:3px;
	    width:5px;
	    bottom:6px;
	    transform:scale(0) rotate(0);
    }
    .login-form .group label .icon:after{
	    top:6px;
	    right:0;
	    transform:scale(0) rotate(0);
    }
    .login-form .group .check:checked + label{
	    color:#fff;
    }
    .login-form .group .check:checked + label .icon{
	    background:#1161ee;
    }
    .login-form .group .check:checked + label .icon:before{
	    transform:scale(1) rotate(45deg);
    }
    .login-form .group .check:checked + label .icon:after{
	    transform:scale(1) rotate(-45deg);
    }
    .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	    transform:rotate(0);
    }
    .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	    transform:rotate(0);
    }

    .hr{
	    height:2px;
	    margin:60px 0 50px 0;
	    background:rgba(255,255,255,.2);
    }
    .foot-lnk{
	    text-align:center;
    }
    .modalbtt{

	    text-transform:uppercase;
	    border:none;
	    padding:15px 20px;
	    border-radius:25px;
	    background:rgba(255,255,255,.1);
	    width:100%;
	    display:block;
	    color:#000;
	    border-color:#1161ee;
    }

    .bttja{
   
    }


</style>


<div class="container ddiv ppfont pdd">
<div class="col-centered ppfont">

    <div class="row ">
        <div class="text-center ppfont"><h1><strong>แก้ไขข้อมูลผู้ใช้งาน</strong></h1></div><hr></hr>
    </div>

    <div class="row">
        <div class="col-centered">
                <div class="text-danger"></div>
                <div class="pdd">
                    <label class="control-label">Email</label>
                    <label class="modalbtt" type="email" disabled/>@ViewBag.Email</label>
                    <span class="text-danger"></span>
                </div>
                <hr/>
                <div class="pdd">
                    <label class="control-label">Name</label>
                    <input id="DisplayName" class="modalbtt" type="text" value="@ViewBag.User"/>
                    <span class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button onclick="ChangeName()" class="btt-text-box warning">Change Name</button>
                </div>
                <p id="Check"></p>
                <hr/>
                <div class="pdd">
                    <label class="control-label">Old password</label>
                    <input id="Oldpassword" class="modalbtt" type="password" />
                    <span class="text-danger"></span>
                </div>

                <div class=" pdd">
                    <label class="control-label">New password</label>
                    <input id="Newpassword" class="modalbtt" type="password" />
                    <span class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button  onclick="ChangePassword()" class="btt-text-box warning">Change Password</button>
                </div>
                <p id="CheckPassword"></p>
                <hr/>
                <div class="text-center">
                    <button onclick="DeleteAccount();" class="btt-text-box-1 danger">Delete Account</button>
                </div>
        </div>
    </div>
</div>


</div>




@section Scripts {
<script type="text/javascript">
    function ChangeName()
    {
        var x = document.getElementById("DisplayName").value;
        if(x!="")
        {
            $.ajax({
                url: '@Url.Action("EditUsername", "Home")/?Name=' + x,
                beforeSend: function(){
                     $("#Check").text("กำลังเปลี่ยนชื่อ");
                },
                success: function (data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if(data.status == true && data.statusToken == true){
                        $("#Check").text("เปลี่ยนชื่อเรียบร้อย");
                    }
                    else{
                        var url = '@Url.Action("Index", "Home")';
                        window.location.href = url;
                    }
                },
                error: function(error){
                    alert(error);
                }
            })

        }
    }
    function ChangePassword()
    {
        var x = document.getElementById("Oldpassword").value;
        var y = document.getElementById("Newpassword").value;
        if(x != "" && y != "")
        {
            $.ajax({
                url: '@Url.Action("EditPassword", "Home")/?Pold=' + x + '&Pnew=' + y,
                beforeSend: function(){
                     $("#CheckPassword").text("กำลังตรวจสอบ password");
                     document.getElementById('Oldpassword').value = "";
                     document.getElementById('Newpassword').value = "";
                },
                success: function (data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if(data.status == true && data.statusToken == true){
                        $("#CheckPassword").text("เปลี่ยน Password เรียบร้อย");
                    }
                    else if(data.status == false && data.statusToken == true){
                        $("#CheckPassword").text("เปลี่ยน Password ไม่สำเร็จ");
                    }
                    else{
                        var url = '@Url.Action("Index", "Home")';
                        window.location.href = url;
                    }
                },
                error: function(error){
                    alert(error);
                }
            })
        }
    }

    function DeleteAccount(){
        let confirmAction = confirm("ต้องการลบ Acount ?");
        if (confirmAction) {
          var url = '@Url.Action("DeleteUser", "Home")/';
          window.location.href = url;
        }
    }
</script>
}



