@{
    ViewData["Title"] = "EditUser";
}

<h1>EditUser</h1>
<br></br>
<hr />
<h4>UserModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <label class="form-control" type="email" />@ViewBag.Email</label>
                <span class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input id="DisplayName" class="form-control" type="text" value="@ViewBag.User"/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <button onclick="ChangeName()" class="btn btn-primary">ChangeName</button>
            </div>
            <p id="Check"></p>
            <hr/>
            <div class="form-group">
                <label class="control-label">Old password</label>
                <input id="Oldpassword" class="form-control type="password" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">New password</label>
                <input id="Newpassword" class="form-control type="password" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <button  onclick="ChangePassword()" class="btn btn-primary">ChangePassword</button>
            </div>
            <p id="CheckPassword"></p>
            <hr/>
            <div class="form-group">
                <button onclick="DeleteAccount();" class="btn btn-primary">DeleteAccount</button>
            </div>
            
    </div>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
@section Scripts {
<script type="text/javascript">
    function ChangeName()
    {
        var x = document.getElementById("DisplayName").value;
        if(x!="")
        {
            $.ajax({
                url: '@Url.Action("EditUsername", "Home")/?Name=' + x,
                beforeSend: function(){
                     $("#Check").text("กำลังเปลี่ยนชื่อ");
                },
                success: function (data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if(data.status == true && data.statusToken == true){
                        $("#Check").text("เปลี่ยนชื่อเรียบร้อย");
                    }
                    else{
                        var url = '@Url.Action("Index", "Home")';
                        window.location.href = url;
                    }
                },
                error: function(error){
                    alert(error);
                }
            })

        }
    }
    function ChangePassword()
    {
        var x = document.getElementById("Oldpassword").value;
        var y = document.getElementById("Newpassword").value;
        if(x != "" && y != "")
        {
            $.ajax({
                url: '@Url.Action("EditPassword", "Home")/?Pold=' + x + '&Pnew=' + y,
                beforeSend: function(){
                     $("#CheckPassword").text("กำลังตรวจสอบ password");
                     document.getElementById('Oldpassword').value = "";
                     document.getElementById('Newpassword').value = "";
                },
                success: function (data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if(data.status == true && data.statusToken == true){
                        $("#CheckPassword").text("เปลี่ยน Password เรียบร้อย");
                    }
                    else if(data.status == false && data.statusToken == true){
                        $("#CheckPassword").text("เปลี่ยน Password ไม่สำเร็จ");
                    }
                    else{
                        var url = '@Url.Action("Index", "Home")';
                        window.location.href = url;
                    }
                },
                error: function(error){
                    alert(error);
                }
            })
        }
    }

    function DeleteAccount(){
        let confirmAction = confirm("ต้องการลบ Acount ?");
        if (confirmAction) {
          var url = '@Url.Action("DeleteUser", "Home")/';
          window.location.href = url;
        }
    }
</script>
}



