@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using webBudda.Models
@{
    var item = ViewBag.blog;
    List<Comment> comments = ViewBag.blogComment;
}
<div class="container">
    <div class="kratoo-title">
        <h1>@item.title</h1>
        <h6>กระทู้หมายเลข @item.Id | กระทู้@item.typep</h6>
    </div>
    <div class="row" style="background-color:#EEECEC;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;">
        <div class="col-2">
            <img src="https://pbs.twimg.com/profile_images/1318385887214936065/MVXmYY99_400x400.jpg" style="max-width:100%;margin-top:15px;margin-bottom:15px;border-radius:50%" />
            <h4 class="text-center">by @item.authen</h4>
            <h5 class="text-center levelbg">นักธรรมระดับ 10</h5>
            <h6 class="text-center">@item.Created</h6>
        </div>
        <div class="col" style="background:#C4C4C4;border-radius: 0px 10px 10px 0px;">
            @*admin button
            <button  style="margin-top:10px;float:right;border:none;background-color:#C4C4C4"><img src="https://www.clipartmax.com/png/full/10-109443_back-x-clip-art-close-button-icon-png.png" width="20" height="20" /></button>
            *@
            <div class="col-10" style="margin-left:auto;margin-right:auto;margin-top:15px">
                <img style="width:60% " src="https://scontent.fbkk12-4.fna.fbcdn.net/v/t39.30808-6/270204153_224275023207074_7934483309102588143_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeFrehaWdQsx88cQcaF7KPZkUFcEC5-w_JBQVwQLn7D8kBXGdFLLT3yT_Gx4rzu0dXUodks74U8DIIHeG0W--nBS&_nc_ohc=hy9UuPuW3AIAX_w0Y-K&_nc_ht=scontent.fbkk12-4.fna&oh=00_AT9nzanhldyPEfdx6FTo-pwZjoMOlPcQoL7himOO8ZKjVw&oe=6255ABA2" />
                <p>@item.content</p>
                <button class="votebutton"><img src="https://cdn-icons-png.flaticon.com/512/2146/2146434.png" width="20" height="20" /> อนุโมทนา</button>
            </div>
            @*admin button
            <button class="adminbutton" style="margin-bottom:10px;float:right;"><img src="https://www.freeiconspng.com/uploads/eyeball-icon-png-eye-icon-1.png" width="20" height="20" /> ซ่อนกระทู้</button>
            *@
        </div>
    </div>
    <hr />
    <h2>ความคิดเห็นต่อกระทู้</h2>
    @foreach (Comment comment in @comments)
    {
        <hr />
        <div class="row" style="background-color:#EEECEC;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;">
            <div class="col-2">
                <img src="https://pbs.twimg.com/profile_images/1318385887214936065/MVXmYY99_400x400.jpg" style="max-width:100%;margin-top:15px;margin-bottom:15px;border-radius:50%" />
                <h4 class="text-center">by @comment.Name</h4>
                <h5 class="text-center levelbg">นักธรรมระดับ 10</h5>
                <h6 class="text-center">@comment.Created</h6>
            </div>
            <div class="col" style="background:#C4C4C4;border-radius: 0px 10px 10px 0px;">
                <div class="col-10" style="margin-left:auto;margin-right:auto;margin-top:15px">
                    @comment.Content
                    
                </div>
            </div>
        </div>
    }
    
    <hr />
    <div class="row" style="background-color:#EEECEC;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;">
        <div class="col-2">
            <img src="https://pbs.twimg.com/profile_images/1318385887214936065/MVXmYY99_400x400.jpg" style="max-width:100%;margin-top:15px;margin-bottom:15px;border-radius:50%" />
            <h4 class="text-center">by @item.authen</h4>
            <h5 class="text-center levelbg">นักธรรมระดับ 10</h5>
        </div>
        <div class="col" style="background:#C4C4C4;border-radius: 0px 10px 10px 0px;">
            <div class="col-10" style="margin-left:auto;margin-right:auto;margin-top:15px">
               <textarea rows="10" style="width:100%"></textarea>
               <button class="votebutton" style="margin-top:5px"><img src="https://cdn-icons-png.flaticon.com/512/2146/2146434.png" width="20" height="20" /> แสดงความคิดเห็น</button>
            </div>
        </div>
    </div>
</div>