@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<webBudda.Models.blog>
<style>
    p{
        margin-bottom:0px;
    }
    .blogger{
        display:flex;
        flex-direction:column;
        border-style:solid none none none;
        border-width: thin;
        justify-content:center;
        padding:15px;
        background-color:none;
        position:relative;
        width:100%;
    }
    .blogger:hover{
        background-color:#EEECEC;
    }
    .blogTable{
        border-style:solid;
        border-width: thin;
        border-radius: 30px;
        overflow-y:hidden;
        padding-bottom:10px;
        height:680px;
        background-color:white;
        
    }
</style>
<div>
    <div class="blogTable">
        <h2 style="text-align:center;background-color:#FFC700;margin-bottom:0px;padding:5px;">ห้องสนทนาธรรม / เนื้อหา</h2>
        <div style="overflow-y:scroll;height:100%">
            @foreach (var item in Model)
            {
                <div class="blogger">
                    <a asp-controller="Blog"  asp-action="Viewblog" asp-route-id="@item.Id"
                    style="color: black;text-decoration: none;">
                        <h4 style="text-align:left;">@item.title</h4>
                        <p><span>ประเภท : </span>@item.typep</p>
                    </a>
                    <div style="position:absolute;right:15px;">
                        <div style="display:flex;align-items:center;justify-content:right">
                            <a asp-controller="Admin"  asp-action="setTopFeed" asp-route-id="@item.Id" asp-route-oldstatus="@item.topfeed"> 
                            <button style="border:none;background:transparent;">
                                @if(item.topfeed==true){
                                    <p style="font-size:150%">&#9733 TOP FEED</p>
                                }else{
                                    <p style="font-size:150%">&#9734 TOP FEED</p>
                                }
                                </button></a>
                            <a asp-controller="Admin"  asp-action="EditBlog" asp-route-id="@item.Id"> 
                            <button style="border:none;background:transparent;font-size:150%"><i class='fas fa-edit'></i></button></a>
                            <button style="background:transparent;font-size:150%" onclick="GetBlog('@item.Id','@item.title')">Delete</button>
                        </div>
                        <p style="text-align:end">ผู้ตั้งกระทู้ : @item.authen</p>  
                    </div>
                </div>
                
            }
            <p id="demo"></p>
      <div style="height:92px"></div>
      </div>
      
   </div>
    
    
</div>
@section Scripts {
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script type="text/javascript">
    function GetBlog(id,title)
    {
        let confirmAction = confirm("ต้องการลบ blog "+title+" ?");
        if (confirmAction) {
          var url = '@Url.Action("Deleteblog", "Admin")/' + id;
          window.location.href = url;
        }
        
    }
</script>
}

