@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model webBudda.Models.blog
<div style="margin-top:50px"> </div>

@{
    var listItems = new List<SelectListItem>
    {
    new SelectListItem { Text = "โลกธรรมะ", Value = "โลกธรรมะ"},
    new SelectListItem { Text = "ธรรมะท่องเที่ยว", Value = "ธรรมะท่องเที่ยว"},
    new SelectListItem { Text = "พิธีกรรมและความเชื่อ", Value = "พิธีกรรมและความเชื่อ"},
    new SelectListItem { Text = "กิจกรรมธรรมะ", Value = "กิจกรรมธรรมะ"},
    new SelectListItem { Text = "สมาธิและการเข้าฌาน", Value = "สมาธิและการเข้าฌาน"},
    new SelectListItem { Text = "เรื่องอื่นๆ", Value = "เรื่องอื่นๆ"},
    };
        
}
<style>
    .ddiv {
        height: 900px;
        width: 1000px;
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
        background-repeat: repeat-y;
        background-size: 100%;
        font-size: 20px;
        box-shadow: 8px 10px 10px 1px #000;
        border-radius: 30px;

    }

    .ddiv2 {
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
        background-repeat: repeat-y;
        background-size: 100%;
    }

    .ppfont {
        font-size: 30px;
        
    }

    .pdd {
        padding: 1%;

    }

    .wide {
        color: black;
        width: 600px;
        opacity: 0.5;
    }

    .wide1 {
        color: black;
        width: 600px;
        height: 500px;
        opacity: 0.5;
        overflow: scroll;
        text-align: left;
}
.login-wrap{

	width:100%;
	margin:auto;
	max-width:525px;
	min-height:700px;
	position:relative;
	background:url(https://raw.githubusercontent.com/BrillChatkul/SoftStudioProject/PluemBranch2/PIC/Arun%20Temple.png) no-repeat center  ;
	position: relative;
	background-size: auto, cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	border-radius:30px;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
	border-radius:30px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.modalbtt{

	text-transform:uppercase;
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
	width:100%;
	display:block;
	color:#000;
	border-color:#1161ee;
}
    
</style>



@using (Html.BeginForm("EditBlog", "Admin",new{Id = @Model.Id} ,FormMethod.Post))
{ 
   <div class="container ddiv shadow p-3 mb-5 bg-body rounded" style="border-radius: 30px;">

        <div class="row">
            <div class="row text-center ppfont ddv2" style="border-radius: 30px;">
                <div><b>ตั้งกระทู้สนทนาธรรม</b></div><hr></hr>
            </div>

            <div class="row" style="display:flex; justify-content: center; margin:5px;">
                
                <table>
                   
                        <tr>
                            <td class="text-center ppfont ">หัวข้อเรื่อง: </td>
                            <td class="ml-3 ppfont pdd">@Html.TextBoxFor(m => m.title, new { @class= "wide input" })</td>
                        </tr>
 

                        <tr>
                            <td class="text-center ppfont ">ผู้แต่ง: </td><br>
                            <td class="ml-3 ppfont pdd">@Html.TextBoxFor(m => m.authen, new { @class= "wide input" })</td>
                        </tr>


                        <tr>
                            <td class="text-center ppfont">รายละเอียด: </td>
                            <td class="ml-3 ppfont pdd ">@Html.TextBoxFor(m => m.content, new { @class= "wide1 input" })</td>
                        </tr>


                        <tr>
                            <td class="text-center ppfont">ประเภท: </td>
                            <td class="ppfont pdd">@Html.DropDownListFor(m => m.typep,listItems,"-- เลือกประเภท --", new {
                            @class= "wide input" })</td>
                        </tr>

                        <tr>
                            <div class="text-center">
                                 <td class=" ppfont"><input class="text-align-center" type="submit" value="Submit Form" /></td>
                            </div>
                        </tr>
              
                </table>
            </div>
        </div>


    </div>
}